


header {

    box-sizing: border-box;
    height: 200px
    position: fixed;
    top: 0;
    display: block;
    margin: 0;
    background-color: green;
}

nav {
    display: block;
    position: absolute;
    right: 10px;
    background-color: red;
}

div.main {
    display: block;
    margin: 200px 10px;
    background-color: blue;
}