

/*
green: rgba(64, 249, 155, 1);
black: rgba(28, 29, 33, 1);
silver: rgba(192, 192, 192, 1);
salmon: rgba(239, 132, 105, 1);
navy: rgba(25, 25, 112, 1); 
*/

@font-face {
    font-family: UrbanJungle;
    src: url("/assets/fonts/UrbanJungle.otf") format("opentype");
}

@font-face {
    font-family: UrbanJungle;
    font-weight: bold;
    src: url("/assets/fonts/UrbanJungle.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Lato|Roboto|Source+Serif+Pro');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Source Serif Pro', serif; */

html { overflow-y: scroll; }


body {
    margin: 0;
    background-color: rgba(192, 192, 192, 1);
}

header {

    box-sizing: border-box;
    height: 200px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    margin: 0;
    background-color: rgba(28, 29, 33, 1);
    border: solid rgba(239, 132, 105, 1);
}

nav {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(64, 249, 155, 1);
    border: solid rgba(239, 132, 105, 1);
    color: rgba(25, 25, 112, 1); 
}

div.main {
    display: block;
    margin: 200px 0px 20px 0px;
    color: rgba(25, 25, 112, 1); 
    font-family: 'Source Serif Pro', serif; 
}

div p {
    margin: 30px 30px 30px 30px;
}

div table {
    margin: 30px 30px 30px 30px;
    border: solid rgba(25, 25, 112, 1);
    background-color: rgba(232,232,232,1);
    margin: auto;
}

th, td {
    border: 1px solid rgba(239, 132, 105, 1);
    text-align: center;

}

button {
    border: 2px solid rgba(64, 249, 155, 1);
    background-color: rgba(239, 132, 105, 1);
    color: rgba(25, 25, 112, 1);
    cursor: pointer;

}

.navbar {
    display: flex;
    align-items: center;

}

#index-button {
    display: flex;
    align-items: center;
}

img#top-icon{
    width: 30px !important
}

img#top-logo{
    width: 60px !important
}

ul {
    padding: 2;
    display: flex;
    align-items: center;

    list-style: none;
    font-family: 'Lato', sans-serif;
    width: 250px;
    font-size: 14px;
}

ul a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

}

h1 {
    font-family: UrbanJungle;
    font-size: 48px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: rgba(239, 132, 105, 1);
    
}

h2 {
    display: inline-block;
    font-family: 'Do Hyeon', sans-serif;
    color: rgba(192, 192, 192, 1);
}

h3 {
    margin-left: 50px;
}

img.top-logo {
    display: inline-block;
    width: 300px;
}

table {
    font-family: 'Roboto', sans-serif;
}
p.question{
    margin: 5px;
}
tfoot {
    font-weight: bold;
}