<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>3195</integer>
	<key>LibraryBuildTag</key>
	<string>5B12044D-2D66-444A-8F5E-8D2BEAE01454</string>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
</dict>
</plist>
